<div>
  <!-- modal overlay -->
  <transition name="fade" appear>
    <div v-if="$store.state.modal.showModalDevice" class="fixed top-0 right-0 left-0 bottom-0 content-none z-50 opacity-75 bg-customTextColor cursor-pointer" @click="$store.dispatch('modal/hideModalConfirmation')"></div>
  </transition>
  <!-- modal content -->
  <div v-if="$store.state.modal.showModalDevice" class="fixed w-full h-full z-50">
    <div class="flex m-auto max-w-xs h-full justify-center items-center">
      <div v-if="loading">
        <font-awesome-icon class="animate-spin text-green-50 text-5xl" :icon="['fas', 'spinner']" />
      </div>
      <div v-else>
        <div class="flex flex-col justify-items-center bg-white rounded p-5 z-50 opacity-100">
          <!-- title and desc -->
          <div class="mb-4">
            <p class="font-sans font-bold text-xl">{{ $store.state.modal.modalTitle }}</p>
            <p class="font-sans text-sm mt-2">
              {{ $store.state.modal.modalDescription }}
              <span v-if="!isNativeDevice" class="font-bold">{{$store.state.modal.deviceName}}</span>
            </p>
          </div>
          <!-- button -->
          <div class="flex flex-row justify-end">
            <button class="font-sans text-green-50 text-base font-bold text-right mx-6" @click="$store.dispatch('modal/hideModalDevice')">Batal</button>
            <button class="btn-secondary" @click="revoke">Keluar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
