<div>
  <!-- empty state section -->
  <div v-if="ssoList === null" class="flex flex-col w-full justify-center items-center text-center mt-10 mb-16 mobileL:mb-40">
    <img class="h-37 w-37" src="./../../../../assets/kelola-akun/akses-akun-empty.svg" />
    <p class="font-sans mt-2 text-sm text-customTextColor">
      Anda belum memberikan akses kepada situs dan <br />
      aplikasi mana pun.
    </p>
  </div>

  <!-- data exist -->
  <div v-else>
    <!-- title text -->
    <p class="font-sans text-sm text-customTextColor pt-2 mb-5">Anda memberikan akses kepada situs dan aplikasi ini untuk mengetahui beberapa data akun Kompas.id.</p>
    <!-- skeleton loading list -->
    <div v-if="!dataLoaded" class="grid grid-cols-1 gap-6 mt-4 laptopL:grid-cols-2">
      <div class="rounded-md p-4 h-20 bg-grey-30 animate-pulse"></div>
      <div class="rounded-md p-4 h-20 bg-grey-30 animate-pulse"></div>
      <div class="rounded-md p-4 h-20 bg-grey-30 animate-pulse"></div>
    </div>
    <div v-else class="grid grid-flow-row gap-3 mt-4">
      <!-- accordion -->
      <!-- iterate content based on ssoList array -->
      <div v-for="(sso, index) in ssoList" class="border-default border-grey-30 h-full">
        <div class="flex flex-col">
          <!-- accordion title -->
          <div class="flex flex-row justify-between items-center cursor-pointer focus:outline-none" @click="openAccordion(index)">
            <p class="font-sans font-bold text-blue-royal-60 px-3 py-4">{{ sso.name }}</p>
            <button class="focus:outline-none p-5">
              <font-awesome-icon class="text-grey-40 text-xl" :icon="activeAccordion === index? ['fas', 'chevron-up'] : ['fas', 'chevron-down']" />
            </button>
          </div>
          <!-- accordion content (show/hide) -->
          <div v-if="activeAccordion === index" class="flex-col px-5">
            <!-- description text -->
            <div class="grid grid-cols-1 text-customTextColor gap-3 laptopM:grid-cols-2">
              <div>
                <p class="font-sans font-bold text-base">Memiliki akses ke</p>
                <p class="font-sans">Data pribadi yang Anda cantumkan di Kompas.id : {{ sso.scope }}.</p>
              </div>
              <div>
                <p class="font-sans font-bold text-base">Akses diberikan pada</p>
                <p class="font-sans">{{ formatTime(sso.createdDate) }}</p>
              </div>
            </div>
            <!-- button & tooltip -->
            <div class="flex flex-col pt-3 mb-4">
              <p class="font-sans text-xs text-grey-40">
                Jika Anda mengalami kendala, silakan hubungi <a href="https://www.kompas.id/hubungi-kami" class="underline text-grey-40">Layanan Pelanggan.</a>
              </p>
              <div class="flex flex-row gap-3 items-center">
                <button class="btn-secondary-outlined" @click="revoke(sso)">Hapus Akses</button>
                <div class="flex flex-col items-center mobileM:flex-row">
                  <font-awesome-icon class="text-blue-royal-60 text-base cursor-pointer" @mouseenter="toggleTooltip" @mouseleave="toggleTooltip" :icon="['fas', 'info-circle']" />
                  <!-- tooltip -->
                  <div v-if="showTooltip" class="tooltip p-3 mx-8 mt-8 mobileM:mt-0">
                    <span class="font-sans text-xs text-customTextColor"
                      >Anda dapat menghapus akses jika sudah <br />
                      tidak digunakan lagi.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
