<div class="flex tablet:self-center">
  <section class="onboarding-img-slider leading-4">
    <div class="flex flex-col justify-center gap-y-4 border-r-2 border-grey-20 pr-5">
      <img src="~/assets/onboarding/banner-1.png" class="self-center" style="height: 78px" />
      <div class="flex font-sans text-sm self-center w-max">
        <p>
          Simpan berita dengan fitur <br />
          <b>Baca Nanti</b>.
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-center gap-y-4">
      <img src="~/assets/onboarding/banner-2.png" class="self-center" style="height: 78px" />
      <div class="flex font-sans text-sm self-center w-max">
        <p>
          Mendengarkan berita dengan fitur </br>
          <b>Audio Berita</b>.
        </p>
      </div>
    </div>
    <div class="flex flex-col justify-center gap-y-4 border-l-2 border-grey-20 pl-5">
      <img src="~/assets/onboarding/banner-3.png" class="self-center" style="height: 78px" />
      <div class="flex font-sans text-sm self-center w-max">
        <p>
          Dapatkan 30 edisi terbaru <br />
          <b>ePaper Kompas</b>.
        </p>
      </div>
    </div>
  </section>
</div>
