<!-- Form Section -->
<div class="border-2 border-gray-50 max-w-sm mx-auto px-7 py-6 rounded">
  <!-- change pass -->
  <div>
    <div class="flex-shrink-0 align-middle font-pt-sans font-bold text-customTextColor text-left text-base lg:text-sm">Kata Sandi Baru</div>
    <!-- password component -->
    <reusable-password />
    <!-- btn submit -->
    <div class="text-justify">
      <button id="sign" @click="sendPassword" class="btn-secondary mt-5 px-5 py-3 w-full">
        Atur Ulang
      </button>
    </div>
  </div>
</div>
