<div class="pt-20 pb-50">
  <div class="flex flex-col max-w-xs mx-auto gap-y-8">
    <div class="px-4 font-sans text-customTextColor text-center">
      <p class="font-bold text-2xl">Anda Sudah Punya Akun</p>
      <p class="text-base leading-6 mt-3">
        Halo, <span class="font-bold">{{ email }}</span> sudah pernah terdaftar melalui akun dibawah ini. Untuk memudahkan Anda, silakan masuk melalui akun terdaftar berikut.
      </p>
    </div>
    <!-- Socmed login button -->
    <div>
      <!-- Gmail -->
      <kompas-auth-auth-google v-if="google" />
      <!-- facebook -->
      <kompas-auth-auth-FB v-if="facebook" />
      <!-- Apple -->
      <kompas-auth-auth-apple v-if="apple" />

      <!-- Email -->
      <div v-if="emailBtn">
        <!-- separator  -->
        <div class="flex flex-row items-center my-6 w-full" v-if="socialArr.length > 1">
          <div class="flex-shrink border-default border-gray-100 mr-2 w-full"></div>
          <div class="flex-shrink-0 align-middle font-sans text-gray-450 text-center text-xs lg:text-sm">atau</div>
          <div class="flex-shrink border-default border-gray-100 ml-2 w-full"></div>
        </div>

        <!-- email auth -->
        <div class="mb-3">
          <div @click="redirectToEmail" class="flex flex-row items-center bg-blue-royal-60 text-white p-4 h-10 rounded-lg w-full cursor-pointer">
            <font-awesome-icon :icon="['fas', 'envelope']" class="text-xl ml-3" />
            <span class="font-sans font-bold leading-none text-sm text-center w-full">Lanjutkan dengan Email</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
