<div class="modal-outer" v-if="$store.state.modal.modalAddPhoneNumber || $store.state.modal.modalUpdatePhoneNumber">
   <!-- modal content -->
   <div class="fixed overflow-x-hidden overflow-y-auto w-full h-full z-[1000]">
      <!-- modal overlay -->
      <transition name="fade" appear>
         <div
            class="fixed top-0 right-0 left-0 bottom-0 content-none z-50 opacity-75 bg-customTextColor cursor-pointer"
            @click.self="$store.dispatch('modal/hideModalAddPhoneNumber') && $store.dispatch('modal/hideModalUpdatePhoneNumber')"
         ></div>
      </transition>
      <!-- modal content -->
      <div class="relative w-[320px] tablet:w-[480px] mx-auto my-32 z-[100]">
         <div class="bg-white rounded w-full p-6">
            <div class="flex items-center">
               <p class="flex-auto font-sans font-bold text-xl text-customTextColor" v-if="$store.state.modal.modalAddPhoneNumber">Tambah Nomor</p>
               <p class="flex-auto font-sans font-bold text-xl text-customTextColor" v-else>Ubah Nomor</p>
               <button class="flex-none text-grey-40" @click="$store.dispatch('modal/hideModalAddPhoneNumber') && $store.dispatch('modal/hideModalUpdatePhoneNumber')">
                  <font-awesome-icon class="text-base" :icon="['fas', 'times']" />
               </button>
            </div>
            <div class="pt-5">
               <!-- conponent phone number -->
               <reusable-phone-number :countryCodeValue="countryCode" @valueChanged="setPhoneNumber($event)" />
               <p class="mt-2 mb-4 text-xs text-grey-50">Pastikan Anda menggunakan nomor WhatsApp sebagai nomor ponsel Anda.</p>
               <!-- button submit -->
               <button class="btn-submit w-full" :class="loading || isError || !phoneNumber ? 'bg-grey-30 text-grey-40 cursor-auto' : ''" @click="submitPhoneNum" :disabled="loading || isError || !phoneNumber">
                  <p v-if="!loading">Simpan</p>
                  <font-awesome-icon v-else :icon="['fas', 'circle-notch']" class="animate-spin" />
               </button>
            </div>
         </div>
      </div>
   </div>
</div>